<!DOCTYPE html>
<html lang="en">
<%- include("header"); %>
<body>

<%- include("menu"); %>
<div class="view overlay rounded-top">
  <center><img src="https://postfiles.pstatic.net/MjAyMDA3MTRfMjUx/MDAxNTk0Njk5MzQ0OTM4.XsriDUJ2qG_axlyBUexp6YI6LGL3a_4jfWODS8dEM_0g.Lhk2AfxMT7q_7gvEzzUvW2Iq76aN6q2D-v7U8r1IES0g.PNG.oke0608/2%EB%B2%88.png?type=w773" class="img-fluid" alt="Sample image" style="width:900px; height:500px;"></center>
  
<%- include("footer"); %>

</body>
</html>
